

// 

.register-wrapper{
    
    position:relative;
    width:450px;
    height:auto;
    margin-top:4em;
    left:50%;
    transform:translateX(-50%);
    background:#fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.1);

    h1{
        font-size: 2rem;
        font-family: 'Poppins-bold';
        color:rgb(98, 89, 89) ;
        text-align: center;
        padding: 1rem;
    }

}
.form-group{
position: relative;
}
.form-control{
position: relative;
width:100%;
font-size:1em;
padding:1.2em 1.7em 1.2em 1.7em;
margin-top:0.6em;
margin-bottom:0.6em;
border-radius: 20px;
border:none;
background:#ebebeb;
outline:none;
font-weight: bold;
transition:0.4s;
}

.eye-icon{
position: absolute;
right: 2%;
top: 60%;
z-index: 1;
}

.login-btn{
border-radius: 20px;
border:none;
width: 100%;
font-weight: bold;
font-size:1.2em;
padding:0.8em 1em 0.8em 1em!important;
transition:0.5s;
border:1px solid #ebebeb;
margin-bottom:0.5em;
margin-top:0.5em;
background:#FE980F;
color:#fff;
}
.login-btn:hover{
background-color:#fff;
border:1px solid #FE980F;
color: #FE980F;
}
.google-login-btn{
border-radius: 20px;
border:none;
width: 100%;
font-weight: bold;
font-size:1.2em;
transition:0.5s;
border:1px solid #ebebeb;
margin-bottom:0.5em;
margin-top:0.5em;
background:#fff;
color:#111;
}