.product-heading{
    text-align: center;
    font-family: 'Poppins-regular';
    margin-top: 30px;
    border-bottom: 2px solid  #FE980F;
    display: inline-block;
}
.product-wrapper{

    margin-top: 2rem;
    margin-bottom: 2rem;
    // background-color: #dedede;
    // background-color: rgb(243, 191, 123);
    border: 1px solid #e6c69b;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 60px 0 0;
    font-family: 'Poppins-regular';
    color: #333;
}
.pro-price{
    color: #13468f !important;
    font-size: 1.5rem;
    font-family: Merriweather, serif !important;
}
.pro-disc{
    font-weight: 700;
    font-size: 1.125rem;
    margin: 18px auto 0 0;
}
.pro-btn{
    border-style: none;
    letter-spacing: 3px;
    background-image: none;
    text-transform: uppercase;
    font-weight: 400;
    margin: 28px auto 0 0;
    padding: 10px 10px;
    background-color: #FE980F;
    color: #ffffff;
}
.pro-btn:hover{
    background-color: #ffffff;
    color: #FE980F;
    border: 1px solid #FE980F;
}

.pro-border{
    width: 43px;
    height: 3px;
    transform-origin: left center;
    margin: 0 auto 0 0;
    background-color:#FE980F;
}

    .pro-right-wrapper{
        padding: 4rem;
    }


}